<script>
    /**
     * APIShift Engine v1.0.0
     * (c) 2020-present Sapir Shemer, DevShift (devshift.biz)
     * Released under the MIT License with the additions present in the LICENSE.md
     * file in the root folder of the APIShift Engine original release source-code
     * @author Sapir Shemer
     */
</script>

<template>
    <v-content>
        <v-container fluid fill-height>
        </v-container>
    </v-content>
</template>
<style scoped>

</style>